*{
	list-style: none;
	text-decoration: none;
}
.nav-bar{
	height: 100px;
	width: 100%;
	border:1px solid black;
	background-color: pink;
	position: relative;
}
.nav-bar img{
	position: absolute;
	top: 10px;
}
.nav-bar ul{
	position:relative;
	left: 500px;
}
.nav-bar ul li{
	float: left;
	margin-left: 50px;
	color:black;
    margin-top: 10px;
}
.btn1{
	border:1px solid white;
	border-radius: 30px;
	height: 30px;
	width: 10%;
    background-image: linear-gradient(to top right, red, yellow);
	margin-left:70px;
	margin-top: 0px;

}


.btn2{
	border:1px solid white;
	border-radius: 30px;
	height: 30px;
	width: 10%;
    background-image: linear-gradient(to top right, red, yellow);
	margin-left:40px;
	margin-top: 3           50px;

}






.btn1:hover{
	background-image:linear-gradient(to top left,red,yellow);
	cursor:pointer;
}


.nav1{
	height: 300vh;
	width: 100%;
	border:1px solid black;
	background-image: url(images/bb.png);
}


.nav h1{
	color:darkblue;
}


.m1{
	
	position:absolute;
	right:0px;
	top:0px;
}





